@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/dm-sans-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/red-rose-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/spartan-500.woff2") format("woff2");
}
