.instructors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/star_instuctors.svg") no-repeat top 7% right 7%;
    h2 {
        padding-bottom: 31px;
    }
    p {
        color: #D0D3DB;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        max-width: 780px;
        padding-bottom: 109px;
    }
    &__list {
        align-self: stretch;
        row-gap: 40px;
    }
    &__item {
        padding: 30px 37px;
        align-items: center;
        border-radius: 12px;
        background: #2F2B6D;
        display: flex;
        height: 100%;
        img {
            margin-right: 28px;
        }
        & > div {
            padding-top: 19px;
            align-self: flex-start;
        }

        &-name {
            color: #FFF;
            font-family: "Red Rose", sans-serif;
            font-size: 25px;
            font-weight: 700;
            line-height: 27px;
            padding: 0 25px 6px 0;
        }
        &-position {
            color: #D0D3DB;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 2px solid transparent;
            min-width: 50px;
            border-radius: 5px;
            background-color: #BACEE2;
            margin-left: auto;
            transition: background-color 0.3s, border 0.3s;
            path {
                transition: stroke 0.3s;
            }
            &:hover {
                background-color: transparent;
                border: 2px solid rgba(255, 255, 255, 0.50);
                path {
                    stroke: #FFFFFF;
                }
            }
        }
    }
}

@media(max-width: 1400px) {
    .instructors {
        &__item {
            padding: 25px;
            img {
                margin-right: 20px;
            }
            &-name {
                font-size: 23px;
            }
        }
    }
}
