* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 600;
    color: #FFF;
    min-width: 1200px;
    background: #162359 url("../img/spots.png") no-repeat top center;
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    button {
        cursor: pointer;
    }
}

//@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//    .body {
//        background-image: url("../img/bg_mob@2x.webp");
//    }
//}

.wrapper {
    max-width: 1645px;
}
.main {
    overflow-x: hidden;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.g-30px {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
}



